# Google Cloud Config
GEMINI_API_KEY=AIzaSyYourGeminiAPIKeyHere
GCP_PROJECT_ID=civicmind-ai-hackathon
GCP_LOCATION=us-central1

# Local FastAPI settings
SECRET_KEY=supersecretcivicmindkeyforjwttoken
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
